.header {

  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 54px;
  }

  .hamburger-menu {
    display: none;
    width: 24px;
    height: 13px;
    background-image: url(../../images/hamburger.png);
    background-repeat: no-repeat;
    background-size: 24px 13px ;
    background-position: center;
    transition: all 0.4s;
  }

  .hamburger-menu-close {
    display: none;
    width: 18px;
    height: 19px;
    background-image: url(../../images/hamburger-x.png);
    background-repeat: no-repeat;
    background-size: 18px 19px ;
    background-position: center;
    transition: all 0.4s;
  }
}

@media only screen and (max-width: 576px) {
  .header {

    &__container {
      padding-top: 32px;
      padding-bottom: 40px;
    }

    .hamburger-menu {
      display: flex;
    }

    
  }

  .header--open .hamburger-menu {
    display: none;
  }

  .header--open .hamburger-menu-close {
    display: flex;
  }
}